.detail-of-card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: calc(90vh - 50px);
  background-color:#dfd6d6c7;
  color: var(--primary-font-color);
  border-radius: 10px;
}

.no-card-selected{
  font-size: 20px;
}

.card-edit{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.card-edit-front{
  width: 90%;
  height: 200px;
  background-color: #fff;
}

.card-edit-back{
  width: 90%;
  height: 200px;
  background-color: #fff;  
}

form{
  padding: 5% 0;
  width: 50%;
  height: 80%;
}

form label{
  display: block;
  font-size: 20px;
  color: var(--secondary-font-color);
}

form input{
  width: 60%;
  height: 30px;
  outline: none;
  border: none;
  margin-bottom: 25px;
}


.card-expiration input{
  width: 40px;
  margin-right: 5px;
}

#card-cvc{
  width: 50px;
}