.detail-of-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: calc(90vh - 50px);
  background-color:#dfd6d6c7;
  color: var(--primary-font-color);
  border-radius: 10px;
}

.no-card-selected{
  font-size: 20px;
}

form{
  width: 80%;
  height: calc(50% - 50px);
}

form label{
  display: block;
  color: var(--secondary-font-color);
}

form input{
  height: 30px;
  outline: none;
  border: none;
  margin-bottom: 25px;
}


.card-expiration input{
  width: 40px;
  margin-right: 5px;
}