:root {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  --navbar-color: #383030;
  --primary-color: #383030;
  --primary-font-color: #FFF;
  --navbar-font-color: #FFF;
  --secondary-color: #FFF;
  --tertiary-color: #6C63FF;
  --card-color: #000000c7;
}


body{
  padding: 0;
  margin: 0;
}